$layout-breakpoint-small: 375px;

$layout-breakpoint-mediun: 768px;

$layout-breakpoint-long: 1023px;


.header-content {
    padding: 10px 10px;
}

.logo-img {
    width: 100px;

    @media (min-width: $layout-breakpoint-small) {
        width: 200px;
    }
}

.content-body {
    padding: 10px;
}


.task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 768px) {
    .task-list {
        flex-direction: column;
    }
}